<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
 background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}
</style>


{% if datos %}
   <h1>WELCOME</h1>
   <ul>
     {%for movie in datos.results%}
        <li type="circle">{{movie.title}}</li>
        <ul>
          <li type='disc'>Episodio: {{movie.episode_id}}</li>
          <li type='disc'>Estreno: {{movie.release_date}}</li>
          <li type='disc'>Director: {{movie.director}}</li>
          <li type='disc'>Productor: {{movie.producer}}</li>
        </ul>
     {% endfor %}
   </ul>

<table style="width:100%">
  <rt>
    <th>Titulo</th>
    <th>Episodio</th>
    <th>Fecha de estreno</th>
    <th>Director</th>
    <th>Productor/es</th>
  </tr>

  {% for movie in datos.results %}
    <tr>
      <td>{{movie.title}}</td>
      <td>{{movie.episode_id}}</td>
      <td>{{movie.release_date}}</td>
      <td>{{movie.director}}</td>
      <td>{{movie.producer}}</td>
    </tr>
  {% endfor %}
</table>





{% else %}
    <p>No polls are available.</p>
{% endif %}
